@import "./utils/variables";
@import "./base/common";
@import "./components/logo";
@import "./components/navigation";


.list.mail-tel {
    margin-left: auto;
}

.link-nav.link,
.link.header {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.link.header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email.link.header:hover,
.email.link.header:focus {
    color: $color-blue;
    fill: $color-blue;
}

.header-icon {
    fill: #757575;
    vertical-align: middle;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon.email {
    width: 16px;
    height: 12px;
}

.header-icon.email:hover,
.header-icon.email:focus {
    fill: $color-blue;
    color: $color-blue;
}

.email-icon:hover,
.email-icon:focus {
    fill: $color-blue;
}
    

.list {
    display: flex;
    padding: 0;
    margin: 0;
}

.list .item:not(:last-child) {
    margin-right: 50px;
}

.list .filter {
    align-items: center;
}

.list .portfolio {
    flex-wrap: wrap
}

.main-title {
    margin-top: 0;
    margin-bottom: 30;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-white;
}

.container.hero {
    text-align: center;
    width: 100%;
    height: 600px;
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2F303A;
}

.list.advantages {
    display: inline-block;
    width: 270px;
    margin-bottom: 94px;
}

.list.advantages:not(:last-child) {
    margin-right: 30px;
}

.main-title-3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-block-end: 10px;
}

.list.advantages::before {
    content: "";
    width: 100%;
    height: 170px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-bottom: 30px;
    background-size: 70px;
}

.list.advantages.antenna::before {
    background-image: url(../icons/antenna.svg);
}

.list.advantages.clock::before {
    background-image: url(../icons/clock.svg);
}

.list.advantages.diagram::before {
    background-image: url(../icons/diagram.svg);
}

.list.advantages.astronaut::before {
    background-image: url(../icons/astronaut.svg);
}


.main-text-3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-grey;
    margin-top: 0;
    margin-bottom: 0;
}

.services {
    margin-bottom: 94px;
}

.foto-services {
    display: block;
}

.foto-items:not(:last-child) {
    margin-right: 30px;
}

.foto-thumb {
    position: relative;
    overflow: hidden;
}

.name-foto {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.foto-name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;

}

.main-title-2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.team {
    background-color: $color-grey-buttom;
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-team {
    display: inline-block;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-team:not(:last-child) {
    margin-right: 30px;
}

.foto-team {
    display: block;
}

.text-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-text {
    height: 168px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-white;
    border-style: none;
    border-radius: 0px 0px 4px 4px;
}

.text-profession {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-grey;
    margin-top: 0;
    margin-bottom: 0;
}

.social-nav-team {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 16px;
}

.social-icon-team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-team:not(:last-child) {
    margin-right: 10px;
}

.social-link-team {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background: $color-white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover .social-icon-team,
.social-link-team:focus .social-icon-team {
    fill: $color-white;
    background: $color-blue;
}

.social-icon-team {
    fill: #AFB1B8;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.logo-clients {
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-clients:hover {
    border: 1px solid #2196F3;
    fill: $color-blue;
}

.clients-box:not(:last-child) {
    margin-right: 30px;
}

.clients-box {
    flex-basis:calc((100% - 30px * 5) / 6)
}


.list-clients {
    margin: 0;
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

.post {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-white;
    font-style: normal;
    margin-top: 20px;
}

.mail-tel.footer {
    font-weight: normal;
    display: flex;
    margin-top: 9px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-light-grey;
    flex-wrap: wrap;
    width: 231px;
}

.mail-tel {
    font-weight: normal;
    margin-top: 9px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-light-grey;
}

.link.footer:not(:last-child) {
    margin-bottom: 9px;
}

.filter {
    margin-top: 94px;
    margin-bottom: 50px;
}

.list.filter {
    display: flex;
    justify-content: center;
}

.portfolio-filter > a{
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    background-color: $color-grey-buttom;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter:not(:last-child) {
    margin-right: 8px;
}

.portfolio-filter > a:hover,
.portfolio-filter > a:focus,
.portfolio-filter > a:active {
    background-color: $color-blue;
    color: $color-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio {
    margin-bottom: 94px;
}

.list.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
}

.title-portfolio {
    margin: 0;
    font-size: none;
}

.portfolio-list {
    display: inline-block;
    width: 370px;
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
    margin-right: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-portfolio {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: $color-white;    
}

.text-pf {
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.foto-thumb:hover .text-pf {
    transform: translateY(0);
  opacity: 1;
}

.portfolio-list:hover,
.portfolio-list:focus,
.portfolio-list:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list:nth-child(3n) {
    margin-right: 0;
}

.p-txt {
    padding: 20px 24px;
}

.portfolio-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $color-grey;
    margin-top: 0;
    margin-bottom:0px;
}

.link {
    text-decoration: none;
    color: $color-black;
    font-style: normal;
}

.footer-page {
    display: flex;
}

.link.footer {
    color: $color-light-grey;
}

.footer-address {
    margin-right: 70px;
    padding-top: 60px;
}

.social-nav-footer {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

.page-footer {
    background-color: $color-dark-grey;
    height: 252px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.logo.link.footer {
    display: block;
    margin-right: 0px;
}

.social-footer {
    display: block;
    padding-top: 72px;
    padding-bottom: 100px;
    margin-right: 93px;
}

.social-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 20px;
    margin-top: 0;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    background: $color-blue;
}

.footer-icon {
    fill: $color-white;
}

.form-email {
    display: block;
    padding-top: 72px;
    padding-bottom: 94px;
    width: 570px;
}

.title-form-email {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-field-email {
    display: inline-block;
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    color: $color-light-grey;
}

.email-form {
    display: flex;
}

.email-button {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 28px;
    padding-left: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 50px;
    background: #188CE8;
    color: $color-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;        
    transform: translate(-50%, -50%);
}

.form-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 12px;
}

.form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
}

.icon-send {
    margin-left: 10px;
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    transform: translateY(40%);
    display: inline-block;
    left: 22px;
    fill: $color-black;
}

.form-field-input:focus ~ .form-icon {
    fill: $color-blue;
}

.form-field-input:focus {
    outline-style: $color-blue;
    border-color: $color-blue;
}

.form-label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;   
    letter-spacing: 0.01em;
    color: $color-grey;
}

textarea.form-field-input {
    height: 120px;
    margin-bottom: 20px;
    resize: none;
}

.form-contact {
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    margin-bottom: 30px;
}

.text-comments {
    padding: 12px 16px;
}

.box-chexbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    margin-left: 14px;
    border: 2px solid $color-black;
    border-radius: 4px;
    margin: 0 8px 0 0;
}

.checkbox:checked + .box-chexbox {
    border-color: $color-blue;
    background-color: $color-blue;
    background-image: url(../icons/galka.svg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-chexbox {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-grey;
}

.text-chexbox-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-blue;
    text-decoration: underline;
}

.button-submit {
    display: block;
    position: absolute;
    top: 491px;
    left: calc((100% - 200px) / 2);
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.checkbox-label {
    margin-bottom: 30px;
    display: inline-block;
}

.button-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    height: 30px;
    min-width: 30px;    
    border-radius: 50%;
    background: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-shadow: none;
}

.close-icon {
    fill: $color-black;
    width: 11px;
    height: 11px;
}